@model HomeViewModel
@{
    ViewData["Title"] = CommonTerms.Home_Index;
}

<div class="row">
    <div class="col s4">
        <div class="card-panel home-card center-align">
            <h4>@CommonTerms.Product_Index</h4>
            <h4 class="home-card__counter">@Model.TotalProduccs</h4>
        </div>
    </div>
    <div class="col s4">
        <div class="card-panel home-card center-align">
            <h4>@CommonTerms.Common_Vegan</h4>
            <h4 class="home-card__counter">@Model.TotalVeganProducts</h4>
        </div>
    </div>
    <div class="col s4">
        <div class="card-panel home-card center-align">
            <h4>@CommonTerms.Product_Workload</h4>
            <h4 class="home-card__counter">@Model.TotalWorkload</h4>
        </div>
    </div>
</div>