@model HomeViewModel
@{
    ViewData["Title"] = CommonTerms.Home_Index;
}

<div class="row card-deck">
    <div class="card">
        <div class="card-body home-card center-align">
            <h5 class="card-title">@CommonTerms.Product_Index</h5>
            <span class="home-card__counter">@Model.TotalProduccs</span>
        </div>
    </div>
    <div class="card">
        <div class="card-body home-card center-align">
            <h5 class="card-title">@CommonTerms.Common_Vegan</h5>
            <span class="home-card__counter">@Model.TotalVeganProducts</span>
        </div>
    </div>
    <div class="card">
        <div class="card-body home-card center-align">
            <h5 class="card-title">@CommonTerms.Product_Workload</h5>
            <span class="home-card__counter">@Model.TotalWorkload</span>
        </div>
    </div>
</div>