@model WorkloadItemListViewModel

@{
    ViewData["Title"] = CommonTerms.Product_Workload;
}

<script type="text/javascript">$(function() {
        Workload.initIndex();
    });</script>

<h3 class="page-title">
    @CommonTerms.Product_Workload
    <span class="float-right">
        <button type="button" class="btn btn-primary" onclick="Workload.processAll()">@CommonTerms.Action_ProcessAll</button>
        <button type="button" class="btn btn-primary" onclick="Workload.processWorkload()">@CommonTerms.Action_ProcessWorkload</button>
    </span>
</h3>
<table id="workload-table" class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(_ => _.ProductName)</th>
            <th>@Html.DisplayNameFor(_ => _.ProductStoreType)</th>
            <th>@Html.DisplayNameFor(_ => _.Message)</th>
            <th>@Html.DisplayNameFor(_ => _.CreatedOn)</th>
        </tr>
    </thead>
</table>