@using Api.Controllers

@model WorkloadItemListViewModel

@{
    ViewData["Title"] = CommonTerms.Product_Workload;
}

<script type="text/javascript">$(function() {
        Workload.initIndex();
    });</script>

<h3 class="page-title">
    @CommonTerms.Product_Workload
    <a class="waves-effect waves-light btn right" onclick="Workload.processAll()">@CommonTerms.Action_Process</a>
</h3>
<table id="workload-table" class="striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(_ => _.ProductName)</th>
            <th>@Html.DisplayNameFor(_ => _.Message)</th>
            <th>@Html.DisplayNameFor(_ => _.CreatedOn)</th>
        </tr>
    </thead>
</table>