@model ProductViewModel
@{
    ViewData["Title"] = Model.Name;
}

<script type="text/javascript">
    $(function() {
        Product.initUpdate();
    });
</script>

<h3 class="page-title">
    @Model.Name
    <a href="@Model.Url" target="_blank" class="btn-floating btn-large waves-effect waves-light right"><i class="material-icons">local_grocery_store</i></a>
</h3>
@using (Html.BeginForm("Update", "Product", FormMethod.Post))
{
<div class="row">
    @Html.HiddenFor(_ => _.Id)
    <div class="input-field col s12">
        <div class="custom-form-label">@Html.DisplayNameFor(_ => _.Ingredients)</div>
        @Model.Ingredients
    </div>
    @if (!string.IsNullOrEmpty(Model.AllergyInfo))
    {
        <div class="input-field col s12">
            <div class="custom-form-label">@Html.DisplayNameFor(_ => _.AllergyInfo)</div>
            @Model.AllergyInfo
        </div>
    }
    @if (Model.MatchedIngredients.Any())
    {
        <div class="col s12">
            <div class="custom-form-label">@Html.DisplayNameFor(_ => _.MatchedIngredients)</div>
            @foreach (var matchedIngredient in Model.MatchedIngredients)
            {
                <div class="chip">@matchedIngredient.Name</div>
            }
        </div>
    }
    <div class="input-field col s4">
        @Html.DropDownListFor(_ => Model.VeganType, Html.GetEnumSelectList<VeganType>())
        @Html.LabelFor(_ => Model.VeganType)
    </div>
    <div class="input-field col s12">
        <div class="custom-form-label">@CommonTerms.Common_Status</div>
        <p>
            <label>
                @Html.EditorFor(_ => _.IsProcessed)
                <span>@Html.DisplayNameFor(_ => _.IsProcessed)</span>
            </label>
        </p>
        <p>
            <label>
                @Html.EditorFor(_ => _.IsNew)
                <span>@Html.DisplayNameFor(_ => _.IsNew)</span>
            </label>
        </p>
    </div>
    <div class="col s12">
        <button class="btn waves-effect waves-light" type="submit">@CommonTerms.Action_Save</button>
        <a href="@Url.Action("Process", "Product", new { id = Model.Id })" class="waves-effect waves-light btn">@CommonTerms.Action_Process</a>
    </div>
</div>
}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Item Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var workloadItem in Model.WorkloadItems)
        {
            <tr>
                <td>@workloadItem.Message</td>
                <td>@workloadItem.CreatedOn</td>
            </tr>
        }
    </tbody>
</table>