@model ProductViewModel
@{
    ViewData["Title"] = Model.Name;
}

<h3>@Model.Name<a href="@Model.Url" target="_blank" class="btn-floating btn-large waves-effect waves-light right"><i class="material-icons">local_grocery_store</i></a></h3>
<div>@Model.Ingredients</div>
@foreach(var matchedIngredient in Model.MatchedIngredients)
{
    <div class="chip">@matchedIngredient.Name</div>
}
</br>
<a href="@Url.Action("Process", "Product", new { id = Model.Id })" class="waves-effect waves-light btn">Verwerken</a>