@model ProductListViewModel

@{
    ViewData["Title"] = CommonTerms.Product_Workload;
}

<script type="text/javascript">
    $(function() {
        Product.initWorkload();
    });
</script>

<h3 class="page-title">
    @CommonTerms.Product_Workload
    <a href="@Url.Action("ProcessAll", "Product")" class="waves-effect waves-light btn right">@CommonTerms.Action_Process</a>
</h3>
<table id="workload-table" class="striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(_ => _.Name)</th>
            <th>@Html.DisplayNameFor(_ => _.IsNew)</th>
        </tr>
    </thead>
</table>