@using Api.Controllers

@{
    var controller = ViewContext.RouteData.Values["Controller"].ToString();
    var action = ViewContext.RouteData.Values["Action"].ToString();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="~/dist/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="~/dist/main.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div id="sidebar" class="col-md-3 col-xl-2 bg-dark">
                <div class="row">
                     <nav class="nav flex-column">
                         <a href="@Url.Action(nameof(HomeController.Index), HomeController.RouteName)" class="nav-link @(controller == HomeController.RouteName && action == nameof(HomeController.Index) ? "active" : "")">@CommonTerms.Home_Index</a>
                         <a href="@Url.Action(nameof(WorkloadController.Index), WorkloadController.RouteName)" class="nav-link @(controller == WorkloadController.RouteName && action == nameof(WorkloadController.Index) ? "active" : "")">@CommonTerms.Product_Workload</a>
                         <a href="@Url.Action(nameof(ProductController.Index), ProductController.RouteName)" class="nav-link @(controller == ProductController.RouteName && action == nameof(ProductController.Index) ? "active" : "")">@CommonTerms.Product_Index</a>
                         <a href="@Url.Action(nameof(ProductController.ProductActivityList), ProductController.RouteName)" class="nav-link @(controller == ProductController.RouteName && action == nameof(ProductController.ProductActivityList) ? "active" : "")">@CommonTerms.ProductActivities_Index</a>
                         <a href="@Url.Action(nameof(IngredientController.Index), IngredientController.RouteName)" class="nav-link @(controller == IngredientController.RouteName && action == nameof(IngredientController.Index) ? "active" : "")">@CommonTerms.Ingredient_Index</a>
                         <a href="@Url.Action(nameof(ProductCategoryController.Index), ProductCategoryController.RouteName)" class="nav-link @(controller == ProductCategoryController.RouteName && action == nameof(ProductCategoryController.Index) ? "active" : "")">@CommonTerms.ProductCategory_Index</a>
                         <a href="@Url.Action(nameof(HomeController.BackgroundJobs), HomeController.RouteName)" class="nav-link @(controller == HomeController.RouteName && action == nameof(HomeController.BackgroundJobs) ? "active" : "")">@CommonTerms.Home_BackgroundJobs</a>
                    </nav>
                </div>
            </div>
            <main class="col-md-9 col-xl-10">
                <div class="row">
                    @if (!ViewContext.ModelState.IsValid)
                    {
                        <div class="col-12">
                            <div class="card-panel red darken-1">
                                <span class="white-text">
                                    @Html.ValidationSummary()
                                </span>
                            </div>
                        </div>
                    }
                    <div class="col-12 main-content">
                        @RenderBody()
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
</html>
