@model IngredientViewModel
@{
    ViewData["Title"] = Model.Name;
}

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var keywords = [
            @foreach(var keyword in Model.Keywords)
            {
                <text>{tag: '@keyword'},</text>
            }
        ];
        var allergyKeywords = [
            @foreach(var allergyKeyword in Model.AllergyKeywords)
            {
                <text>{tag: '@allergyKeyword'},</text>
            }
        ];
        Ingredient.initUpdate(keywords, allergyKeywords);
    });
</script>

<h3>@Model.Name</h3>
@using (Html.BeginForm("Update", "Ingredient", FormMethod.Post, new { @class = "col s12" }))
{
<div class="row">
    @Html.HiddenFor(_ => _.Id)
    @Html.HiddenFor(_ => _.KeywordsString)
    @Html.HiddenFor(_ => _.AllergyKeywordsString)
    <div class="input-field col s12">
        @Html.TextBoxFor(_ => _.Name)
        @Html.LabelFor(_ => _.Name)
    </div>
    <div class="col s12">
        <div id="keywords-chips" class="chips input-field">
            <input class="input">
        </div>
    </div>
    <div class="col s12">
        <div id="allergykeywords-chips" class="chips input-field">
            <input class="input">
        </div>
    </div>
</div>
    <button class="btn waves-effect waves-light" type="submit">Opslaan</button>
}