@using Api.Controllers

@model IngredientUpdateViewModel

@{
    ViewData["Title"] = Model.Request.Name;
}

<script type="text/javascript">
    $(function() {
        Ingredient.initUpdate();
    });
</script>

<h3 class="page-title">
    @Model.Request.Name
    @using (Html.BeginForm(nameof(IngredientController.Delete), IngredientController.RouteName, FormMethod.Post, new { @class = "float-right" }))
    {
        @Html.Hidden("Id", Model.Request.Id)
        <button class="btn btn-danger product__delete-button" type="submit"><i class="material-icons" aria-hidden="true">delete</i></button>
    }
</h3>
@using (Html.BeginForm(nameof(IngredientController.Update), IngredientController.RouteName, FormMethod.Post))
{
    @Html.HiddenFor(_ => _.Request.Id)
    <div class="form-group">
        @Html.LabelFor(_ => _.Request.Name)
        @Html.TextBoxFor(_ => _.Request.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(_ => _.Request.VeganType)
        @Html.DropDownListFor(_ => _.Request.VeganType, Html.GetEnumSelectList<VeganType>(), new { @class = "custom-select" })
    </div>
    <div class="form-group">
        @Html.EditorFor(_ => _.Request.NeedsReview, new { @class = "form-check-input", id = "NeedsReview" })
        @Html.LabelFor(_ => _.Request.NeedsReview, new { @for = "NeedsReview" })
    </div>
    <div class="form-group">
        @Html.LabelFor(_ => _.Request.KeywordsString)
        <input id="Keywords" name="Request.KeywordsString" value="@Model.Request.KeywordsString" class="form-control">
    </div>
    <div class="form-group">
        @Html.LabelFor(_ => _.Request.IgnoreKeywordsString)
        <input id="IgnoreKeywords" name="Request.IgnoreKeywordsString" value="@Model.Request.IgnoreKeywordsString" class="form-control">
    </div>
    <div class="form-group">
        @Html.LabelFor(_ => _.Request.AllergyKeywordsString)
        <input id="AllergyKeywords" name="Request.AllergyKeywordsString" value="@Model.Request.AllergyKeywordsString" class="form-control">
    </div>
    <button class="btn btn-primary" type="submit">@CommonTerms.Action_Save</button>
}