@model IngredientViewModel
@{
    ViewData["Title"] = Model.Name;
}

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var data = [
            @foreach(var keyWord in Model.KeyWords)
            {
                <text>{tag: '@keyWord'},</text>
            }
        ];
        Ingredient.initUpdate(data);
    });
</script>

<h3>@Model.Name</h3>
@using (Html.BeginForm("Update", "Ingredient", FormMethod.Post, new { @class = "col s12" }))
{
    <div class="row">
        @Html.HiddenFor(_ => _.Id)
        @Html.HiddenFor(_ => _.KeyWordsString)
        <div class="input-field col s12">
            @Html.TextBoxFor(_ => _.Name)
            @Html.LabelFor(_ => _.Name)
        </div>
        <div class="col s12">
            <div class="chips input-field">
                <input class="input">
            </div>
        </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit">Opslaan</button>
}