@model IEnumerable<ProductCategoryViewModel>
@{
    ViewData["Title"] = CommonTerms.ProductCategory_Index;
}

<h3 class="page-title">
    @CommonTerms.ProductCategory_Index
    <a class="btn-floating btn-large waves-effect waves-light right" href="@Url.Action("Create", "ProductCategory")"><i class="material-icons" aria-hidden="true">add</i></a>
</h3>
<table class="striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(_ => _.Name)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var productCategory in Model)
        {
            <tr>
                <td><a href="@Url.Action("Update", "ProductCategory", new { id = productCategory.Id })">@productCategory.Name</a></td>
            </tr>
        }
    </tbody>
</table>