@using Api.Controllers

@model ProductCategoryUpdateViewModel

@{
    ViewData["Title"] = Model.Request.Name;
}

<h3 class="page-title">
    @Model.Request.Name
    @using (Html.BeginForm(nameof(ProductCategoryController.Delete), ProductCategoryController.RouteName, FormMethod.Post, new { @class = "float-right" }))
    {
        @Html.Hidden("Id", Model.Request.Id)
        <button class="btn btn-danger" type="submit"><i class="material-icons" aria-hidden="true">delete</i></button>
    }
</h3>
@using (Html.BeginForm(nameof(ProductCategoryController.Update), ProductCategoryController.RouteName, FormMethod.Post))
{
    @Html.HiddenFor(_ => _.Request.Id)
    <div class="form-group">
        @Html.LabelFor(_ => _.Request.Name)
        @Html.TextBoxFor(_ => _.Request.Name, new { @class = "form-control" })
    </div>
    @foreach (var storeCategory in Model.Request.StoreCategories)
    {
        <div class="form-group">
            @Html.Label(storeCategory.StoreType.ToString())
            @Html.TextBoxFor(_ => storeCategory.Url, new { @class = "form-control" })
        </div>
    }
    <button class="btn btn-primary" type="submit">@CommonTerms.Action_Save</button>
}